body {
    font-family: Arial, sans-serif;
    background-color: #d6e1f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    max-height:1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #7b7f94;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.grid-container {
    display: grid;
    grid-template-columns:auto auto auto;
    padding: 10px;
    column-gap: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

#viewFormsBtn{
    max-width:fit-content;
}

#viewFormsBtn:hover{
    background-color: #7b7d86
}

#editPetsBtn:hover{
    background-color: #7b7d86
}

#viewPetsBtn:hover{
    background-color: #7b7d86
}

h1 {
    text-align: center;
}

.form-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    cursor: pointer;
}

.form-item:last-child {
    border-bottom: none;
}

.form-item:hover {
    background-color: cadetblue;
}
