html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #f79506;
  padding: 5px 0;
  text-align: left;
}

.navbar {
  background-color: #4979c7;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn{
  text-decoration: none;
  color: white;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pet-search {
  display: flex;
  justify-content: flex-end; /* Align the search bar to the right */
  width: 250px;
}

.pet-search input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.search-button {
  padding: 5px;
  border-radius: 5px;
  background-color: #f79506;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  background-color: #afb3b2;
}

.slide.fade img {
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container {
  position: relative; /* Make the container relative */
  min-width: 1000px;
  margin: auto;
}

.adopt-now-button {
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  bottom: 20px; /* Move the button to the bottom of the container */
  background-color: #f79506;
  color: white;
  border: none;
  padding: 20px 55px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.adopt-now-button:hover {
  background-color: #d98d00;
}

.adopt-button {
  background-color: #92b6f0;
  color: #f79506;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.adopt-button:hover {
  background-color: #6299f2;
}

.pet-section {
  background-color: #92b6f0;
  padding: 40px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.pet-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pet-card {
  background-color: #f79506;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(23% - 10px);
}

.pet-card img {
  width: 100%;
  height: 200px;
}

.footer {
  background-color: #f79506;
  color: white;
  padding: 40px 0;
}

.about-us {
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stats span {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .navbar {
      padding: 10px 20px;
  }

  .nav-link, .dropbtn {
      display: block;
      padding: 10px 0;
  }

  .dropdown i {
      display: none;
  }

  .content {
      padding: 20px;
  }
}
